<div class="max-w-6xl mx-auto flex justify-between">
  <div
    class="text-3xl font-extrabold text-transparent bg-gradient-to-br from-slate-200 to-white bg-clip-text"
  >
    <a href="/"> CFA Notes </a>
  </div>
  <nav class="">
    <a href="/html/">HTML</a> | <a href="/css/">CSS</a> |
    <a href="/js/">JavaScript</a> |
    <a href="/python/">Python</a>
  </nav>
</div>
