<div class="max-w-5xl mx-auto flex justify-between">
  <div
    class="text-3xl font-extrabold text-transparent bg-gradient-to-br from-slate-200 to-white bg-clip-text"
  >
    <a href="/"> CFA Notes </a>
  </div>
  <nav class="">
    <a href="/download">Downloads</a> | <a href="/about">About</a>
  </nav>
</div>
