<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Katex -->
<link rel="stylesheet" href="../../styles/output.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css"
/>

<% if(locals.frontmatter) {%>
<title><%= frontmatter.title %></title>
<% } %>
