<!DOCTYPE html>
<html lang="en">
  <%- include("header") %>
  <body class="container">
    <h1 class="text-red-600 underline">
      Express Guestbook
      <a href="/new-entry" class="btn btn-primary pull-right"
        >Write in the guestbook</a
      >
    </h1>

    <%- include("footer") %>
  </body>
</html>
