<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body
    class="bg-gradient-to-r from-slate-700 via-slate-700 to-slate-600 text-slate-100 mt-[100px]"
  >
    <article class="max-w-5xl mx-auto">
      <header
        class="absolute left-0 top-0 w-full text-slate-200 shadow-md p-4 bg-gradient-to-tr from-slate-700 via-slate-600 to-slate-500"
      >
        <%- include("../partials/header") %>
      </header>
      <div class="my-4">
        <h3>
          Try PayPal downloads service (if exists) or Similar service for
          digital downloads shop
        </h3>
      </div>
    </article>

    <div><%- include("../partials/footer") %></div>
  </body>
</html>
