<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>

  <body
    class="max-w-6xl mx-auto bg-gradient-to-r from-slate-700 via-slate-700 to-slate-600 text-slate-100 mt-[100px]"
  >
    <header
      class="absolute left-0 top-0 w-full text-slate-200 shadow-md p-4 bg-gradient-to-tr from-slate-700 via-slate-600 to-slate-500"
    >
      <%- include("../partials/header") %>
    </header>
    <div class="my-4"></div>
    <!-- <div class="underline my-8">
      <a href="/new-entry">Check similar posts</a>
    </div> -->

    <h1>Downloads</h1>
    <!-- Content -->
    <!-- <div class="border-x border-x-slate-200 border-l-slate-200 p-8"> -->
    <div>Download to pdf.</div>
    <!-- Links -->
    <div class="flex justify-center mt-4 gap-8">
      <button
        class="bg-slate-200 hover:opacity-90 text-slate-800 shadow-sm hover:shadow-white border border-slate-200 px-6 py-2 rounded-lg"
      >
        <a href="/home"> Topics </a>
      </button>
    </div>
    <%- include("../partials/footer") %>
  </body>
</html>
