@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

@layer base {
  :root {
    --TABLE_HEADER_COLOR: rgba(320, 320, 320, 1);
    --TABLE_HEADER_BG: rgba(20, 60, 70, 0.6);
    --TABLE_SIDE_BG: rgba(70, 120, 120, 0.3);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: rgb(47, 79, 79);
  }

  h1 {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: rgb(120, 50, 50);
    font-weight: 800;
  }

  h2 {
    font-size: 1.2rem;
    margin: 20px 0 8px 0.5rem;
    color: rgb(20, 100, 100);
    font-weight: 600;
  }

  h3 {
    font-size: 1.1rem;
    margin: 1rem 0 0 1rem;
    color: rgb(20, 140, 80);
    font-style: italic;
  }

  h4 {
    margin-top: 1rem;
    font-style: italic;
    color: rgb(20, 130, 120);
    margin-left: 1.5rem;
  }
  h5 {
    margin-top: 1rem;
    font-style: italic;
    /* color: rgb(20, 300, 300); */
    margin-left: 2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    letter-spacing: 0.1em;
  }

  h2 + ul,
  h2 + ol {
    margin: 0.5rem 0 0 1rem;
  }

  h3 + ul,
  h3 + ol {
    margin: 0.5rem 0 0 1.5rem;
  }

  h4 + ul,
  h4 + ol {
    margin: 0.5rem 0 0 2rem;
  }

  h5 + ul,
  h5 + ol {
    margin: 0.5rem 0 0 2rem;
  }

  ol,
  ul {
    list-style-position: outside;
    padding-left: 1.8rem;
  }

  ol {
    list-style-type: decimal;
  }

  ul li::marker {
    content: "▸ ";
  }

  nav > ul li::marker {
    content: "";
  }
  /* .note {
  color: dodgerblue;
  border: 1px solid dodgerblue;
  border-radius: 5px;
  background: lightblue;
  padding: 10px 20px;
  width: fit-content;
  margin-bottom: 10px;
} */

  /* .noteWord {
  font-weight: bolder;
} */

  /* .caution {
  color: firebrick;
  font-weight: bolder;
  border: 1px solid firebrick;
  border-radius: 5px;
  background: rgba(250, 42, 42, 0.1);
  padding: 10px 20px;
  width: fit-content;
} */

  article a {
    color: rgb(140, 240, 140);
    font-weight: 400;
    text-decoration: underline;
    scroll-margin-top: 60px; /* height of your fixed header */
  }

  .katex-container {
    width: fit-content;
    /* border: 1px solid rgba(5, 5, 5, 0.2); */
    padding: 0 1rem;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: 80vw;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    border: 1px solid rgba(15, 15, 15, 0.2);
    border-radius: 4px;
  }

  .katex-html {
    padding: 1rem;
    border-radius: 4px;
    color: lightgray;
    /* border: 1px solid rgba(55, 55, 55, 1) !important; */
    font-family: "Poppins", sans-serif;
  }

  td .katex-html {
    border: none !important;
  }

  .katex-display {
    /* border: 1px solid pink; */
    /* border: 1px solid orange; */
    
    padding: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    /* Hide scrollbar for Webkit browsers */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    font-family: "Poppins", sans-serif;
  }

  .katex-display::-webkit-scrollbar {
    display: none;
  }

  .hljs.language-js {
    /* width: fit-content; */
    font-family: "Poppins", sans-serif;
    margin-left: 1rem;
    padding: 4px;
    border: 1px solid purple;
  }


  .table-container {
    max-width: 100%;
    overflow-x: auto;
  }

  table {
    margin: 1rem 0 1rem 1.2rem;
    border-collapse: collapse;
    max-width: max-content;
    font-size: 0.8rem;
  }

  table th,
  table td {
    border: 1px solid #ddd;
    padding: 4px 8px;
    min-width: 60px;
  }

  table thead tr th {
    color: var(--TABLE_HEADER_COLOR);
    background-color: var(--TABLE_HEADER_BG);
  }

  /* First column of tbody */
  tbody tr > td:nth-of-type(1) {
    background-color: var(--TABLE_SIDE_BG);
    border: 1px solid #fff;
  }

  table-monetary-fiscal-policy table th {
    background-color: var(--TABLE_HEADER_BG);
  }

  .table-alpha-beta-drivers {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-collapse: collapse;
    max-width: 100%;
    overflow: hidden;
  }

  .table-alpha-beta-drivers th,
  .table-alpha-beta-drivers td {
    border: 1px solid #ddd;
    padding: 4px 8px;
    min-width: 60px;
  }

  .table-alpha-beta-drivers td.col1,
  .table-alpha-beta-drivers td.col2 {
    background-color: var(--TABLE_SIDE_BG);
    vertical-align: middle;
    text-align: center;
  }

  .table-alpha-beta-drivers th,
  .table-alpha-beta-drivers td {
    min-width: 120px;
  }

  .correlation-table th:not(:first-child) {
    font-weight: normal;
    background-color: transparent;
    background-color: var(--TABLE_HEADER_BG);
  }

  /* table title (first row) */
  .correlation-table th:nth-child(1),
  .correlation-table td:nth-child(1) {
    background-color: var(--TABLE_HEADER_BG);
    /* border: none; */
  }

  .rotated {
    transform: rotate(270deg);
    transform-origin: center;
    white-space: nowrap;
    display: inline-block;
    margin: 0 -20px;
  }

  .table-monetary-fiscal-policy tbody tr > td:nth-of-type(2) {
    background-color: var(--TABLE_HEADER_BG);
  }
}
