@layer base {
  @media (prefers-color-scheme: dark) {
    :root {
      --TABLE_HEADER_BG: rgba(20, 70, 120, 0.5);
    }

    h1 {
      color: rgb(150, 220, 220);
    }
    h2 {
      color: rgb(80, 200, 255);
    }
    h3 {
      color: rgb(20, 200, 255);
    }
    h4 {
      color: rgb(20, 255, 255);
    }

    h3 ul {
      padding: 20px 0 0 1rem;
    }

    .katex-container {
      width: fit-content;
      /* border: 1px solid rgba(5, 5, 5, 0.2); */
      padding: 0 1rem;
      overflow-x: auto;
      margin: 1rem 0;
      max-width: 80vw;
      border-radius: 4px;
      font-family: "Poppins", sans-serif;
      border: none;
      border-radius: 4px;
    }

    .katex-html {
      padding: 1rem;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 4px;
      color: lightgray;
      max-width: 80vw;
      overflow-x: auto;
    }

    #inline-math .katex .katex-html {
      border: none;
      padding: 0;
      display: inline;
    }

    .katex-display {
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;
      -ms-overflow-style: none;
      display: flex;
      /* Hide scrollbar for Webkit browsers */
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer and Edge */
    }

    td .katex-html {
      border: none !important;
    }

    ol,
    ul {
      list-style-position: outside;
      padding-left: 1.8rem;
    }

    ol {
      list-style-type: decimal;
    }

    ul li::marker {
      content: "▸ ";
    }

    th,
    td {
      border: 1px solid #ccc;
      padding: 6px;
      word-wrap: break-word;
      white-space: normal;
    }

    th {
      vertical-align: bottom;
      font-weight: 500;
    }
    td {
      vertical-align: top;
    }

    table {
      /* margin: 1rem 0 1rem 1.2rem; */
      border-collapse: collapse;
      font-size: 0.8rem;
      table-layout: fixed;
    }

    .table-container {
      max-width: 100%;
      overflow-x: auto;
    }

    tbody tr td:nth-of-type(1) {
      background-color: rgba(20, 70, 70, 0.6);
      color: white;
    }

    .table-conflicts-of-interest td:not(.col1) {
      background-color: inherit;
    }
    .table-monetary-fiscal-policy table th {
      background-color: rgba(50, 50, 50, 0.8);
      color: white;
    }

    .table-alpha-beta-drivers th,
    .table-alpha-beta-drivers td {
      border: 1px solid #ddd;
    }

    .table-alpha-beta-drivers td.col1,
    .table-alpha-beta-drivers td.col2 {
      background-color: rgba(20, 70, 70, 0.6);
      color: white;
    }

    .table-alpha-beta-drivers th {
      background-color: rgba(50, 50, 50, 0.8);
      color: white;
    }

    .correlation-table th {
      background-color: var(--TABLE_HEADER_BG);
      vertical-align: bottom;
    }

    /* First cell (title column) */
    /* .correlation-table th:nth-child(1),
    .correlation-table td:nth-child(1) {
      background-color: transparent;
    } */

    .table-monetary-fiscal-policy tbody tr > td:nth-of-type(2) {
      background-color: rgba(20, 70, 70, 0.6);
      color: white;
    }

    tfoot td,
    tfoot th {
      border: none;
      padding-top: 12px;
      padding-left: 0;
      font-size: 0.75rem;
      color: rgb(200, 200, 200);
    }

    tfoot tr td ul {
      padding-left: 0;
    }

    tfoot tr td ul li::marker {
      content: none;
    }

    .trust-distributions-table {
      max-width: 400px;
    }
    .trust-owner-table {
      max-width: 500px;
    }

    tr th {
      letter-spacing: 2px;
    }
    
  }
}
